OcelotAPIGateway/bin/Debug/net6.0/appsettings.Development.json
OcelotAPIGateway/bin/Debug/net6.0/appsettings.json
OcelotAPIGateway/bin/Debug/net6.0/FluentValidation.dll
OcelotAPIGateway/bin/Debug/net6.0/IPAddressRange.dll
OcelotAPIGateway/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
OcelotAPIGateway/bin/Debug/net6.0/Microsoft.AspNetCore.MiddlewareAnalysis.dll
OcelotAPIGateway/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
OcelotAPIGateway/bin/Debug/net6.0/Microsoft.Extensions.DiagnosticAdapter.dll
OcelotAPIGateway/bin/Debug/net6.0/Microsoft.OpenApi.dll
OcelotAPIGateway/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
OcelotAPIGateway/bin/Debug/net6.0/Newtonsoft.Json.dll
OcelotAPIGateway/bin/Debug/net6.0/Ocelot.dll
OcelotAPIGateway/bin/Debug/net6.0/ocelot.json
OcelotAPIGateway/bin/Debug/net6.0/OcelotAPIGateway.deps.json
OcelotAPIGateway/bin/Debug/net6.0/OcelotAPIGateway.dll
OcelotAPIGateway/bin/Debug/net6.0/OcelotAPIGateway.exe
OcelotAPIGateway/bin/Debug/net6.0/OcelotAPIGateway.pdb
OcelotAPIGateway/bin/Debug/net6.0/OcelotAPIGateway.runtimeconfig.json
OcelotAPIGateway/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
OcelotAPIGateway/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
OcelotAPIGateway/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
OcelotAPIGateway/obj/OcelotAPIGateway.csproj.nuget.dgspec.json
OcelotAPIGateway/obj/OcelotAPIGateway.csproj.nuget.g.props
OcelotAPIGateway/obj/OcelotAPIGateway.csproj.nuget.g.targets
OcelotAPIGateway/obj/project.assets.json
OcelotAPIGateway/obj/project.nuget.cache
OcelotAPIGateway/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
OcelotAPIGateway/obj/Debug/net6.0/apphost.exe
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.AssemblyInfo.cs
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.AssemblyInfoInputs.cache
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.assets.cache
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.csproj.AssemblyReference.cache
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.csproj.CopyComplete
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.csproj.CoreCompileInputs.cache
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.csproj.FileListAbsolute.txt
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.dll
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.GeneratedMSBuildEditorConfig.editorconfig
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.genruntimeconfig.cache
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.GlobalUsings.g.cs
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.MvcApplicationPartsAssemblyInfo.cache
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.MvcApplicationPartsAssemblyInfo.cs
OcelotAPIGateway/obj/Debug/net6.0/OcelotAPIGateway.pdb
OcelotAPIGateway/obj/Debug/net6.0/staticwebassets.build.json
OcelotAPIGateway/obj/Debug/net6.0/ref/OcelotAPIGateway.dll
OcelotAPIGateway/obj/Debug/net6.0/refint/OcelotAPIGateway.dll
OcelotAPIGateway/obj/Debug/net6.0/staticwebassets/msbuild.build.OcelotAPIGateway.props
OcelotAPIGateway/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.OcelotAPIGateway.props
OcelotAPIGateway/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.OcelotAPIGateway.props
